# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages used in Data Science
- List commonly used libraries in Data Science
- List Data Science tools
- Show simple Python executions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the comonly user libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. PyTorch

|Data Science Tools|
|------------------|
|Matlab|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
##This is as simple arithmetic Expresion to multiply and then add intigeres

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
## Fjona Hajdari